@theme {
    --color-neutral-50: oklch(99% 0 0);
    --color-neutral-100: oklch(91% 0 0);
    --color-neutral-200: oklch(81% 0 0);
    --color-neutral-300: oklch(72% 0 0);
    --color-neutral-400: oklch(62% 0 0);
    --color-neutral-500: oklch(51% 0 0);
    --color-neutral-600: oklch(45% 0 0);
    --color-neutral-700: oklch(39% 0 0);
    --color-neutral-800: oklch(32% 0 0);
    --color-neutral-900: oklch(25% 0 0);
    --color-neutral-950: oklch(18% 0 0);
}


:root {
    --ui-bg: var(--color-neutral-50);
    --ui-bg-muted: var(--color-neutral-100);
    --ui-bg-elevated: var(--color-neutral-200);
    --ui-bg-accented: var(--color-neutral-300);
    --ui-bg-inverted: var(--color-neutral-300);
}

:root.dark {
    --ui-bg: var(--color-neutral-950);
    --ui-bg-muted: var(--color-neutral-900);
    --ui-bg-elevated: var(--color-neutral-800);
    --ui-bg-accented: var(--color-neutral-700);
    --ui-bg-inverted: white;
}

.embedded {
    & [data-content-id] ~ * {
        /*
        only the actual content is important
        removes GitHub buttons & surrounding articles
        */
        display: none;
    }

    & *:has(> [data-content-id]) {
        /* extra padding to hold distance to now non-existent footer */
        padding-bottom: 0;
    }

    & nav.sticky {
        /* keep at top of screen at all times */
        position: fixed;
        top: 0;
        width: 100%;
    }

    &:has(nav.sticky) [data-slot="root"]:has(> [data-slot="headline"]) {
        /* extra margin to account for the `position: fixed` ToC */
        margin-top: 3em;
    }
}
